.footer 
{
    margin-top: 20px;
}

.footer_text
{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    background-color: #ffe7f5;
}

.footer_text > p
{
    margin: 0;
}